// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "blueprint/grid";
// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
//Recommended Blueprint configuration with scoping and semantic layout:

$faded_yellow: #ffee80;
$bright_orange: #ff9d00;
$faded_orange: #ffb054;
$nail_polish_pink: #ff0044;
$neon_yellow: #ffdd00;
$sky_blue: #0088ff;
$teal_blue: #80ffbb;
$light_blue: #0065bf;
$medium_blue: #003b70;
$dark_blue: #001b33;
$black_blue: #000d1a;
$white: #ffffff;
$pale_grey: #eeeeee;
$steel_grey: #333333;
$spring_green: #3ad900;
$light_grey: #cccccc;
$dark_maroon: #002f29;
$bluish_grey: #777777;
$steelblue3: #4f94cd;



$faded_yellow_rgb: #ffee80;
$bright_orange_rgb: #ff9d00;
$faded_orange_rgb: #ffb054;
$nail_polish_pink_rgb: #ff0044;


$neon_yellow_rgb: #ffdd00;
$sky_blue_rgb: #0088ff;
$teal_blue_rgb: #80ffbb;
$light_blue_rgb: #0065bf;
$medium_blue_rgb: #003b70;
$dark_blue_rgb: #001b33;
$black_blue_rgb: #000d1a;
$white_rgb: #ffffff;
$pale_grey_rgb: #eeeeee;
$steel_grey_rgb: #333333;
$spring_green_rgb: #3ad900;
$light_grey_rgb: #cccccc;
$dark_maroon_rgb: #002f29;
$bluish_grey_rgb: #777777;
$steelblue3_rgb: #4f94cd;


@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  @include blueprint-grid;
}

form.bp {
  @include blueprint-form; 
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.bp.showgrid {
  
  /*background: url(../images/bg_body.png) repeat;*/
  background: url(../images/bgtile.jpg) repeat;
  /*background: url(../images/grid.png) repeat -3px 8px;*/
  color: #eee;
  
  h1,h2,h3,h4,h5,h6,h7{
    color: #bcbcbc;
  }

  a{
    font-weight: bolder;
    font-size: 1.2em;
    color: darken($nail_polish_pink_rgb, 5);
    text-decoration: none;
    
  }

  a:visited{
    color: darken($nail_polish_pink_rgb, 15);
  }

  a:hover{
    text-decoration: underline;
  }

  .block{
    display: block;
    margin: 0;
  }

  .relative{
    position: relative;
  }

  .absolute{
    position: absolute;
  }

  .deteached{
    margin: 0 auto;
    @include column(24);
    background-color: rgba(0,59,112, .3);
    border: 2px solid darken( rgba(0,59,112, .3), 10);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    -moz-box-shadow: 0 6px 30px #555;
    -webkit-box-shadow: 0 0 15px darken( rgba(0,59,112, 1), 10);
    margin: 5px auto;
  }

  #container{
    @include container;
    overflow: visible;
    width: 970px;
    margin: 0 auto;
      #content {
        $content_columns: $blueprint_grid_columns ;
        @include column($content_columns, true); 
        
        .wish{
          border: 1px solid rgba(0,59,112, .5); 
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;

          -webkit-border-top-left-radius: 0;
          -moz-border-top-left-radius: 0;
          border-top-left-radius: 0;
          
          background-color: rgba(0,59,112, .2);
          padding: 5px;
        
          .wish-stats{
            left: -72px;
            top:-1px;
            border: 1px solid rgba(0,59,112, .5); 
            background: rgba(0,59,112, .3);
            width: 70px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            -moz-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
          }
        }
      }

      #header {
        @include column(24); 
        
        #logo{
          float: left;
          
          span{
            color: $neon_yellow_rgb;
          }

          #sienaprawia{
            color: white;
            font-weight: bolder;
          }
        }

        #tagline{
          font-style: italics;
        }

        #menu{
          margin: 0;
          padding: 0;
          list-style-type: none;   
          float: right;  
          background-color: rgba(0,101,191, 0.3);
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;          

          li{
            display: inline;
            float: left;
            margin: 5px 8px 3px 7px;
            a{
              color: #eee;
              font: 1.3em bold "Helvetica Neue", Arial, Helvetica, sans-serif;
            }

            a:before{
              color: $bright_orange;
              content: "# ";
            }

            a:hover{
              position: relative;
              top:-2px;
            }
          }

          li.first{
            margin-left: 5px;
          }

          li.last{
            margin-right: 10px;
          }
        }
      }

      .title{
        font-size:2.5em;
        font-weight: bold;
        color: #dedede;
        background-color: #ee2323;
      }
      #pagination-container{
        /*padding: 5px;*/
        padding: 10px 0;
        text-align: center;
      }
      #footer{
        @include column(24);
        .span-6{
          /*border: 1px solid rgba(0,59,112, .5); */
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          margin-bottom: 10px;
          background-color: rgba(0,59,112, .2);
          /*padding: 5px;*/
          /*h4{*/
            /*margin: 10px 15px;*/
          /*}*/
          h3{ 
            border-bottom: 1px dashed  rgba(0,59,112, 1);
            padding-bottom: 4px;
          }
          ul{
            list-style-type: none;
            margin-top: -10px;
            li{
              text-indent: 15px;
              font-size: 1.2em;
            }
          }
        }
        #branding, #links{
          text-align: right; 
          margin-top: -10px;
          margin-bottom: 5px;
        }
        #copyrights{
          text-align: center;
          margin: 5px auto 20px auto;
        }
      }
  }
}


    
